.styleGoogleCalendar {
  position: relative;
  height: 0;
  width: 50%;
  padding-bottom: 50%;
}

.styleGoogleCalendarIFrame {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%s;
  height: 500px;
}
